<%- include('../partials/header') %>

<main class="container mt-5">
  <h1 class="mb-4">My Favorites</h1>
  <div class="row">
    <% favorites.forEach(favorite => { %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= favorite.recipe.image %>" class="card-img-top" alt="<%= favorite.recipe.name %>" />
          <div class="card-body">
            <h5 class="card-title"><%= favorite.recipe.name %></h5>
            <p class="card-text"><%= favorite.recipe.description %></p>
            <a href="/recipes/<%= favorite.recipe._id %>" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>