<div class="modal fade" id="recipeModal<%= recipe._id %>" tabindex="-1" aria-labelledby="recipeModalLabel<%= recipe._id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recipeModalLabel<%= recipe._id %>"><%= recipe.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="<%= recipe.image %>" class="card-img-top img-fluid mx-auto" alt="<%= recipe.name %>" style="height: 100%; width: 100%; object-fit: cover;">
        <h6>Ingredients:</h6>
        <p><%= recipe.ingredients %></p>
        <h6>Instructions:</h6>
        <p><%= recipe.instructions %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>