<%- include('../partials/header') %>
<style>
  .profile-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .heart-count {
    color: #dc3545;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    z-index: 10;
  }
  .heart-count i {
    margin-right: 0.25rem;
  }
  .button-primary {
   z-index: 10;
  }
</style>
<main class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% topics.forEach((topic, topicIndex) => { %>
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title"><%= topic %></h5>
          </div>
          <div id="carousel<%= topicIndex %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% recipesByTopic[topic].forEach((recipe, index) => { %>
                <div class="carousel-item <% if (index === 0) { %>active<% } %>">
                  <div class="card-body">
                    <div style="height: 200px; overflow: hidden;">
                      <img src="<%= recipe.image %>" class="card-img-top img-fluid mx-auto" alt="<%= recipe.name %>" style="height: 100%; width: 100%; object-fit: cover;">
                    </div>
                    <br/>
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="card-title mb-0"><%= recipe.name %></h5>
                      <div>
                        <i class="bi bi-person-circle profile-icon"></i>
                        <a href="/users/profile/<%= recipe.user._id %>"><%= recipe.user.name %></a>
                      </div>
                    </div>
                    <p class="card-text">
                      <div class="d-flex justify-content-between align-items-center mt-2">
                        <% if (user) { %>
                          <% const isFavorite = user.favorites.some(favoriteRecipe => favoriteRecipe._id.toString() === recipe._id.toString()) %>
                          <a href="/favorites/toggle/<%= recipe._id %>" class="heart-count">
                            <i class="bi <%= isFavorite ? 'bi-heart-fill' : 'bi-heart' %>"></i> <%= recipe.favoritesCount ? recipe.favoritesCount : 0 %>
                          </a>
                        <% } else { %>
                          <span class="heart-count">
                            <i class="bi bi-heart"></i> <%= recipe.favoritesCount ? recipe.favoritesCount : 0 %>
                          </span>
                        <% } %>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recipeModal<%= recipe._id %>">
                          Read More
                        </button>
                      </div>
                    </p>
                  </div>
                  <%- include('../recipes/recipeModal', { recipe: recipe }) %>
                </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= topicIndex %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= topicIndex %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>